mixin sharing()

	+b('section').sharing
		+e('p').text © 2020 HSM Production
		+e('ul').list
			+e('li').item
				+e('a').link(href='#')
					+icon('fb')
			+e('li').item
				+e('a').link(href='#')
					+icon('vk')
			+e('li').item
				+e('a').link(href='#')
					+icon('ok')
			+e('li').item
				+e('a').link(href='#')
					+icon('tw')