mixin facts()

	+b('section').facts
		+e('h2').title(class='wow fadeInUp' data-wow-delay=".1s" style="visibility:hidden") БЕСЦЕННЫЕ ФАКТЫ<br>
			span о хоккее
		+e.list
			+fact({
				id: 1,
				text: "По&nbsp;итогам регулярного чемпионата КХЛ cезона 2019/20 24&nbsp;участника <span>&laquo;Бесценной лиги&raquo;</span> разделили <span>&laquo;Бесценный трофей&raquo;</span> с&nbsp;лучшим игроком каждого клуба.",
				dir: 'left'
			})
			+fact({
				id: 2,
				text: "<span>Войтек Вольский</span> в&nbsp;составе &laquo;Торпедо&raquo; в&nbsp;сезоне 2014/15 забил 3&nbsp;шайбы за&nbsp;106&nbsp;секунд.",
				dir: 'right'
			})
			+e('hr').line
			+fact({
				id: 3,
				text: "Больше всех шайб в&nbsp;регулярных сезонах&nbsp;&mdash; аж&nbsp;341! &mdash;&nbsp;удалось забить <span>Сергею Мозякину</span>, с&nbsp;2011 года выступающему за&nbsp;клуб &laquo;Металлург&raquo;.",
				dir: 'left'
			})
			+fact({
				id: 4,
				text: "Рекорд по&nbsp;количеству шайб&nbsp;&mdash; 405&nbsp;&mdash; принадлежит <span>Сергею Мозякину</span> (400-ю шайбу он&nbsp;забросил в&nbsp;12-м сезоне КХЛ).",
				dir: 'left'
			})
			+fact({
				id: 5,
				text: "Средняя результативность матча (количество заброшенных шайб за&nbsp;матч) в&nbsp;последнем сезоне КХЛ&nbsp;&mdash; <span>4,93&nbsp;шайбы</span>.",
				dir: 'right'
			})
			+fact({
				id: 6,
				text: "Во&nbsp;время сложной эпидемиологической обстановки КХЛ изменила привычный логотип, поместив свою эмблему в&nbsp;обрамление домика и&nbsp;добавив хештег <span>#будьдома</span>.",
				dir: 'left'
			})
			+fact({
				id: 7,
				text: "По&nbsp;итогам плей-офф и&nbsp;всего сезона в&nbsp;КХЛ присуждаются: <span>Приз имени Алексея Черепанова</span> получает лучший игрок среди играющих первый полный сезон; <span>приз &laquo;Золотая клюшка&raquo;</span> присуждается самому ценному игроку регулярного чемпионата.",
				dir: 'right'
			})
			+fact({
				id: 8,
				text: "Самый титулованный спортсмен за&nbsp;всю историю КХЛ&nbsp;&mdash; нападающий <span>Данис Зарипов</span>. Он&nbsp;становился обладателем Кубка Гагарина пять раз: трижды в&nbsp;составе казанской команды &laquo;Ак&nbsp;Барс&raquo; и&nbsp;дважды&nbsp;&mdash; играя за&nbsp;магнитогорский &laquo;Металлург&raquo;.",
				dir: 'left'
			})
			+fact({
				id: 9,
				text: "Победители плей-офф в&nbsp;КХЛ получают <span>Кубок Гагарина</span>. На&nbsp;нем выгравированы имена всех команд-победительниц.",
				dir: 'right'
			})
			+fact({
				id: 10,
				text: "За&nbsp;предыдущие 12&nbsp;сезонов в&nbsp;чемпионате приняли участие <span>хоккеисты из&nbsp;24&nbsp;стран</span>: Австрии, Белоруссии, Венгрии, Германии, Дании, Израиля, Италии, Казахстана, Канады, Китая, Латвии, Литвы, Норвегии, России, Финляндии, Франции, Хорватии, Чехии, Швейцарии и&nbsp;Швеции, США, Словакии, Украины, Словении.",
				dir: 'left'
			})
			+fact({
				id: 11,
				text: "В&nbsp;12-м сезоне КХЛ принимали участие <span>24&nbsp;хоккейных клуба</span>: 19&nbsp;из&nbsp;России и&nbsp;пять иностранных, представляющих Республику Беларусь, Казахстан, Латвию, Финляндию и&nbsp;Китай.",
				dir: 'right'
			})
			+fact({
				id: 12,
				text: "В&nbsp;сезоне 2019/20 был установлен рекорд посещаемости матчей регулярного чемпионата: среднее количество зрителей на&nbsp;трибунах составило <span>6492&nbsp;человека!</span>",
				dir: 'left'
			})
			+fact({
				id: 13,
				text: "В&nbsp;регулярном чемпионате сезона 2019/20 зрители стали свидетелями <span>184&nbsp;овертаймов</span>, а&nbsp;по&nbsp;окончании <span>84</span>&nbsp;из&nbsp;них&nbsp;&mdash; еще и&nbsp;серий послематчевых бросков.",
				dir: 'right'
			})
			+fact({
				id: 14,
				text: "Каждый год по&nbsp;итогам сезона выбирают лучшего судью и&nbsp;награждают его &laquo;Золотым свистком&raquo;. В&nbsp;сезоне 2018/19 этого титула удостоился <span>Алексей Раводин</span>.",
				dir: 'left'
			})
