.facts

	&__title
		margin-bottom w(100)
		text-align center
		text-transform uppercase
		font-family $ff-futur
		font-size w(180)
		font-style italic
		line-height w(167)
		font-weight 400
		color $red

		+below(768px)
			font-size wv(64)
			line-height wv(76)
			margin-bottom wv(200)

		& span
			font-family $ff-futur-b
			font-size w(270)
			font-style normal
			line-height w(196)
			font-weight 800
			color #E41B24

			+below(768px)
				font-size wv(97)

	&__line
		margin-top w(333)
		margin-bottom w(45)
		border none
		color $red
		background-color $red
		height 2px
