@font-face
	font-family 'FuturaPTCond-Medium'
	src url('../../fonts/FuturaPTCond-Medium.woff') format('woff')

@font-face
	font-family 'FuturaPTCond-Bold'
	src url('../../fonts/FuturaPTCond-ExtraBold.woff') format('woff')
