mixin banner()

	+b('section').banner
		+e.logo
			+e('a')(href='https://www.maximonline.ru' target="_blank")
				+e('img')(src='./images/banner-logo-mobile.png')
		+e('h2').title(class='wow fadeInLeft' style="visibility:hidden") БЕСЦЕННЫЕ ФАКТЫ<br>
			span о хоккее
		+e('p').text(class='wow fadeInDown' style="visibility:hidden") Трус не&nbsp;играет в&nbsp;хоккей. Да&nbsp;и&nbsp;похвастаться тем, что знают всё об&nbsp;этом суровом виде спорта, рискнут лишь настоящие мужчины.    Готов проверить свой хоккейный IQ? Вместе с&nbsp;<a href='https://mastercard.khl.ru/' target='_blank'>Mastercard</a> мы&nbsp;собрали бесценные факты об&nbsp;этом виде спорта и&nbsp;подготовили непростой тест для поклонников хоккея.
