mixin header ()

	+b('section').header
		+e.wrap
			+e.row
				+e.image
					+e('a')(href='https://mastercard.khl.ru/' target="_blank")
						+e('img')(src='./images/header-1.png')
				+e.image
					+e('a')(href='https://www.maximonline.ru' target="_blank")
						+e('img')(src='./images/header-2.png')
