mixin footer()

	+b('section').footer
		+header()
		+e.container
			+e.row
				+e('p').title(class='wow fadeInUp' data-wow-delay=".1s" style="visibility:hidden") БЕСЦЕННЫЕ ЗНАНИЯ<br><b>о хоккее</b><br><i>ДЛЯ БЕСЦЕННОЙ ЛИГИ</i>
				+e.content(class='wow fadeInLeft' data-wow-delay=".1s" style="visibility:hidden")
					+e('p').text Знания никогда не&nbsp;бывают лишними. А&nbsp;знания о&nbsp;хоккее могут даже стать бесценными, особенно если ты&nbsp;применишь их&nbsp;по&nbsp;назначению&nbsp;&mdash; в&nbsp;&laquo;Бесценной лиге&raquo;. На&nbsp;<a href='https://mastercard.khl.ru/' target='_blank'>официальном сайте</a> &laquo;Бесценной лиги&raquo; регулярно проводятся викторины для самых эрудированных фанатов. И&nbsp;хотя конкурсы проходят онлайн, призы за&nbsp;победу можно получить самые что ни&nbsp;на&nbsp;есть реальные!
			+e.final
				+e('p').info(class='wow fadeInDown' data-wow-delay=".1s" style="visibility:hidden") <a href='https://mastercard.khl.ru/' target='_blank'>&laquo;Бесценная лига&raquo;</a>&nbsp;&mdash; это традиция Mastercard и&nbsp;Континентальной хоккейной лиги, существующая с&nbsp;2016 года и&nbsp;объединяющая игроков КХЛ и&nbsp;преданных им&nbsp;болельщиков.
				+e('p').info(class='wow fadeInDown' data-wow-delay=".1s" style="visibility:hidden") В&nbsp;течение всего сезона участники &laquo;Бесценной лиги&raquo; выбирают на&nbsp;сайте <a href='https://mastercard.khl.ru/' target='_blank'>mastercard.khl.ru</a> и&nbsp;в&nbsp;мобильных приложениях <a href='https://apps.apple.com/ru/app/id455938766?referrer=appmetrica_tracking_id%3D1105583522195717150%26ym_tracking_id%3D8605638036712895574' target='_blank'>AppStore</a> и&nbsp;<a href='https://play.google.com/store/apps/details?id=ru.zennex.khl&hl=ru&referrer=appmetrica_tracking_id%3D817353146597647314%26ym_tracking_id%3D8488427219602262643' target='_blank'>GooglePlay</a> лучшего игрока, подарившего поклонникам хоккея самые бесценные эмоции, а&nbsp;своей команде&nbsp;&mdash; победные очки. Трофеи будут вручены по&nbsp;итогам регулярного чемпионата КХЛ лучшим игрокам всех 23&nbsp;клубов и&nbsp;их&nbsp;болельщикам. После розыгрыша Кубка Гагарина, главного командного трофея КХЛ, будут объявлены имена &laquo;Бесценного игрока&raquo; и&nbsp;&laquo;Бесценного болельщика&raquo; в&nbsp;сезоне 2020/21, их&nbsp;награждение пройдет на&nbsp;Церемонии закрытия сезона КХЛ в&nbsp;мае 2021&nbsp;года.
				+e('p').info(class='wow fadeInDown' data-wow-delay=".1s" style="visibility:hidden") <a href='https://mastercard.khl.ru/' target='_blank'>Стань бесценным</a>
