mixin sponsor()

	+b('section').sponsor
		+e.wrap
			+e.row
				+e.content(class='wow fadeInUp' data-wow-delay=".1s" style="visibility:hidden")
					+e('p').text И&nbsp;кстати, отличная новость! Mastercard и&nbsp;Континентальная хоккейная лига в&nbsp;сезоне 2020/21 обновляют онлайн-платформу совместной традиции &laquo;Бесценная лига&raquo;, объединяющей болельщиков и&nbsp;игроков. Для болельщиков будут публиковаться экспертные материалы о&nbsp;хоккее и&nbsp;появятся бесценные онлайн-сюрпризы.
					+e('p').text 2&nbsp;сентября стартовал 13-й сезон КХЛ, в&nbsp;матче-открытии встретились ЦСКА и&nbsp;&laquo;Ак&nbsp;Барс&raquo; (2:3&nbsp;ОТ). Одновременно с&nbsp;этим стартовала и&nbsp;борьба за&nbsp;звание &laquo;Бесценный болельщик&raquo;. Получить этот титул может любой человек, участвующий в&nbsp;специальных активностях на&nbsp;сайте <a href='https://mastercard.khl.ru/' target='_blank'>mastercard.khl.ru</a>.
				+e.image(class='wow fadeInLeft' data-wow-delay=".1s" style="visibility:hidden")
					+e('img')(src='./images/sponsor-1.png')
			+e.row
				+e.content(class='wow fadeInUp' data-wow-delay=".1s" style="visibility:hidden")
					+e('p').text Набрав на&nbsp;платформе необходимое количество баллов в&nbsp;тестах, викторинах и&nbsp;играх, участники &laquo;Бесценной лиги&raquo; получат digital-подарки в&nbsp;виде эксклюзивных стикерпаков, сертификаты от&nbsp;партнеров Mastercard или бесценный звонок с&nbsp;поздравлением от&nbsp;хоккеиста в&nbsp;день рождения. Для участников &laquo;Бесценной лиги&raquo; сохранится возможность участвовать и&nbsp;в&nbsp;традиционном розыгрыше призов: вбросить шайбу перед матчем или &laquo;дать пять&raquo; любимой команде, которая выходит на&nbsp;игру; посмотреть хоккей вместе с&nbsp;комментаторами на&nbsp;их&nbsp;рабочем месте; побывать в&nbsp;закулисье арены или посетить медиаклуб &laquo;Бесценной лиги&raquo;.
					+e('p').text Главной наградой для поклонников хоккея останется получение звания &laquo;Бесценный болельщик&raquo; и&nbsp;шанс выйти на&nbsp;лед вместе с&nbsp;игроком любимого клуба для разделения уникального &laquo;Бесценного трофея&raquo;&nbsp;&mdash; символа единства болельщиков и&nbsp;спортсменов.
				+e.image(class='wow fadeInLeft' data-wow-delay=".1s" style="visibility:hidden")
					+e('img')(src='./images/sponsor-2.png').desk
					+e('img')(src='./images/sponsor-2-mobile.png').mobile
